@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap');
/*font-family: 'Lato', sans-serif; */

.App{
  display: flex;
 flex-direction: column;
 align-items: center;
 
}
ul{
  margin: 16px;
  padding: 40px;
}
body{
  background-color: #FBFCFF;
}
h1{
  color: #082044;
  text-align: center;
  font-size: 4rem;
  margin: 0 0 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
h2{
  text-align: center;
}
h3{
  color: #2A2C30;
  text-align: center;
}
h4{
  font-size: 30px;
  color: #1f4991;
  margin: 2px;
}
.container{
  background-color: #FFFFFF;
  box-shadow: 25px 0 45px 10px rgb(0 0 0 / 7%);
  margin: 0 auto;
  
  max-width: 1300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}
.content{
  background-color: rgba(219, 219, 219, 0.993);
  display: block;
  margin-bottom: 50px;
  padding: 15px;
  text-align: center;
  box-sizing: inherit;
  line-height: 1.5;
  font-size: 1rem;
  object-fit: contain;
  overflow-wrap: break-word;
  
}
.box{
  background-color: white;
  width: 28%;
  margin: 15px 0;
  padding: 0;
  margin-top: 20px;
  box-shadow: 2px 2px 15px #dbdcdd;
  text-align: center;
}
p{
  color: #29292b;
  font-size: .9rem;
  text-align: center;
  padding: 20px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  
  
  .App,  .box{
  
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    object-fit: contain;
  }
  .container{
    align-items: center;
  }
  .img{
    object-fit: contain;
    align-items: center;
    
    justify-content: center;
    
  }
  h1{
    justify-content: center;
    text-align: center;
  }
  
}

